.Friendslist-container {
    background-color: #111111;
    width: 200px;
    height: calc(100% - 2px);
    // overflow: auto;
    // border-top: 1px rgba(255, 255, 255, 0.4) solid;
    // border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
    // border-left: 1px rgba(255, 255, 255, 0.4) solid;

    .Friend {
        display: flex;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;

        img {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 50%;
        }

        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 18px;
            border-radius: 4px;
            padding-left: 5px;
            word-break: keep-all;
            overflow: hidden;
        }

        &:hover {
            background-color: #292929 !important;
            cursor: pointer;
        }
        &:active {
            background-color: #262626 !important;
        }
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
