.FriendRequestsPopup-container {
    background-color: #111111;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    max-width: 400px;
    min-width: 200px;
    overflow: auto;

    .FriendRequestsPopup-title {
        text-align: center;
        font-size: smaller;
    }

    .FriendRequestsPopup-content {
        margin-top: 10px;

        .FriendRequestsPopup-content-search {
        }
        .FriendRequestsPopup-content-switch {
            display: flex;
            margin-top: 20px;
            background-color: #22222288;
            border-radius: 4px;
            button {
                width: 100%;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 4px;
                background-color: #2e2e2e;
                border: none;
                color: rgb(220, 220, 220);
                transition: 0.2s;
                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: #313131b4;
                }
            }
        }
        .FriendRequestPopup-content-options {
            margin-top: 20px;
            padding-right: 5px;
            max-height: 400px;
            overflow-x: auto;
            .FriendRequestsPopup-content-options {
                display: flex;
                margin-bottom: 20px;
                height: 40px;

                .FriendRequestsPopup-content-options-username {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    height: 100%;
                    width: 100%;
                    padding-left: 10px;
                }
                .FriendRequestsPopup-content-options-actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding-right: 10px;
                    i {
                        margin-top: 5px;
                        svg {
                            width: 25px;
                            height: 25px;
                            transition: 0.2s;
                            &:hover {
                                cursor: pointer;
                            }
                            &:active {
                                color: rgb(120, 120, 120) !important;
                            }
                        }
                    }
                    #decline {
                        color: #e36c5a;
                        &:hover {
                            color: #af5547 !important;
                        }
                    }
                    #accept {
                        color: #61b84b;
                        &:hover {
                            color: #4c8e3c !important;
                        }
                    }
                }
            }
        }
    }

    .FriendRequestsPopup-actions {
        width: 100%;
        text-align: center;
        margin-block: 10px;
    }

    .FriendRequestsPopup-error {
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            text-align: center;
        }
    }
}
